.container {
  display: flex;
  align-content: center;
  max-width: 1555px;
}

.btn-form {
  width: 100%;
  margin-top: 52px;
  background-color: var(--color-primary);
  border-radius: 55px;
  border: none;
  padding: 17px;
  font-size: 1rem;
  color: var(--background-color-body);
  cursor: pointer;
}

.btn-card {
  display: block;
  padding: 5px 16px 6px 16px;
  margin-top: 6px;
  border-radius: 8px;
  background-color: var(--color-primary);
  color: var(--quartuaria-text-color);
  font-family: var(--font-family-secundary);
  font-weight: 400;
  line-height: 1.13rem;
  font-size: 0.93rem;
}